<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<div class="page-header">
  <h1>{{ post.title }} <small>{{ post.description }}</small></h1>
  
  
</div>

<img class="img-responsive" ng-src="{{post.image}}" style="width:300px"/>

<hr />

<h3 ng-show="comments.length > 0">Comments</h3>
<div class="row" ng-show="comments.length > 0">
<div class="col-sm-6"> <input type="text" class="form-control" ng-model="query" placeholder="filter comments" /></br>
</div>
</div>
<ul ng-show="comments.length > 0">


<li ng-repeat="comment in comments|filter: query">
	{{comment.text}}
	<a href="" class="btn btn-sm btn btn-default" confirm-click="Do you want to delete?" confirmed-click="deleteComment(comment)">X</a> 
</li>


</ul>
<hr />

<div class="row">
<div class="col-sm-6"> 


<p style="color:red"; ng-if='reply.text'>Preview: {{reply.text}}</p>	
<form ng-submit='AddReply()'>
<input type="hidden" ng-model='reply.id'>
	<textarea class="form-control" ng-model='reply.text'></textarea>
	<input class="btn btn-default" type="submit" />
	</form>
	</div>
	</div>
</div>
</div>